.logo {
  width: 100px;
  height: 30.769px;
  flex-shrink: 0;
}
.appbar-main {
  background: var(--primary-main);
  padding: var(--layout-padding);
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  display: flex;
}
.appbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: 5px;
}
