.banner {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}
.banner img {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner .content {
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  /* padding: 50px 0px; */
  display: flex;
  align-items: self-start;
  flex-direction: column;
  justify-content: flex-end;
}
.banner-text {
  /* padding: var(--layout-padding); */
  padding: 150px 80px;
}
/* Mobile Styles (up to 599px) */
@media (max-width: 599px) {
  .banner-text {
    padding: 60px 20px;
  }
  /* Apply mobile-specific styles here */
}

/* Tablet Styles (600px to 959px) */
@media (min-width: 600px) and (max-width: 959px) {
  /* Apply tablet-specific styles here */
}

/* Desktop Styles (960px and above) */
@media (min-width: 960px) {
  /* Apply desktop-specific styles here */
}
