.case--main {
  padding: 100px 80px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.case--card--main {
  display: flex;
  width: 399px;
  height: 399px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.case--line {
  width: 40px;
  height: 4px;
  background: var(--primary-active, #d100c9);
}
.case--card--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.case--image--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.case--card--content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), black);
}
/* Mobile Styles (up to 599px) */
@media (max-width: 599px) {
  .case--main {
    padding: 100px 20px !important;
  }
  .case--image--container {
    gap: 10px;
  }
}

/* Tablet Styles (600px to 959px) */
@media (min-width: 600px) and (max-width: 959px) {
  /* Apply tablet-specific styles here */
}

/* Desktop Styles (960px and above) */
@media (min-width: 960px) {
  /* Apply desktop-specific styles here */
}
