.company--main {
  max-width: 100%;
  padding: 100px 80px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.company--logo {
  display: flex;
  max-width: 100%;
  padding: 40px 63px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.company--logo--container {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
