@import url("./fonts.css");
@import url("./components/Typography/style.css");
:root {
  --primary-main: #70259b;
  --shades-white: #ffffff;
  --primary-dark: #430964;
  --primary-active: #d100c9;
  --shades-700: #242424;
  --shades-200: #f5f5f5;
  --layout-padding: 20px 80px;
}
body {
  font-family: "Inter";
  margin: 0px;
}
